@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
	font-family: "Roboto", sans-serif;
	font-size: 62.5%; /* This is 10px */
	height: 100%;
}

body {
	position: relative;
}

#root {
	min-height: 100vh;
}
